target
target_temp*

.DS_Store

test_results

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
dist/

# Publish
publish/
*.msi
*.wixpdb
*.wixobj

# Windows image base
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
!.vscode/tasks.json
!.vscode/launch.json

# Large files
test_manual.obj

*.obj
*.step
*.stp
*.log
*.png
!crates/windows/assets/*.png
__pycache__/
*.exe
*.dll
*.pdb
